---
title: ""
layout: default.liquid
---

<div class="y-flex y-flex-center">
  <div class="y-main">
    <div class="ui card">
      <div class="image">
        <div class="y-logo">
          <a href="/">
            <img class="ui avatar circular image" src="/assets/img/icon_white.png" alt="home"/>
          </a>
        </div>
        <img src="/assets/img/night_sky.jpg"/>
      </div>
      <div class="content center aligned">
        <div class="header">
          {{ site.title }}
        </div>
        <div class="description">
          <div class="ui horizontal list">
            <a class="item" href="/posts" title="blog">
              <i class="large pencil square icon"></i>
              blog
            </a>
            <a class="item" href="https://github.com/{{ site.data.author.github }}" title="github">
              <i class="large github square icon"></i>
              github
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
