---
title: posts
permalink: /posts
layout: default.liquid
---

<header class="y-banner y-banner-blog">
  <div class="y-logo">
    <a href="/">
      <img class="ui avatar circular image" src="/assets/img/icon_white.png" alt="home"/>
    </a>
  </div>
  <h1>blog</h1>
</header>

<main class="y-main">
  <div class="ui text container">
    <div class="ui secondary pointing menu">
      <a class="active item"><i class="book icon"></i>posts</a>
      <a href="/tags" class="item"><i class="tags icon"></i>tags</a>
    </div>
    <div class="ui relaxed selection list">
      {% for post in collections.posts.pages %}
        <a href="/{{ post.permalink }}" class="item">
          <div class="header">{{ post.title }}</div>
          {{ post.published_date | date: "%Y-%m-%d" }}
        </a>
      {% endfor %}
    </div>
  </div>
</main>

{% include "footer.liquid" %}
