---
title: tags
permalink: /tags
layout: default.liquid
---

<header class="y-banner y-banner-blog">
  <div class="y-logo">
    <a href="/">
      <img class="ui avatar circular image" src="/assets/img/icon_white.png" alt="home"/>
    </a>
  </div>
  <h1>blog</h1>
</header>

{% capture flattened %}
  {%- for page in collections.posts.pages -%}
    {%- for tag in page.tags -%}
      {{ tag }}{%- if forloop.last == false -%},{%- endif -%}
    {%- endfor -%}
    {%- if forloop.last == false -%},{%- endif -%}
  {%- endfor -%}
{% endcapture %}

{% assign tags = flattened | strip | split: "," | uniq | sort %}

<main class="y-main">
  <div class="ui text container">
    <div class="ui secondary pointing menu">
      <a href="/blog" class="item"><i class="book icon"></i>posts</a>
      <a class="active item"><i class="tags icon"></i>tags</a>
    </div>
    <div class="ui hidden divider"></div>
    {% for tag in tags %}
      <h3 id="{{ tag }}" class="ui teal large label">{{ tag }}</h3>
      <div class="ui relaxed selection list">
        {% for post in collections.posts.pages %}
          {% for post_tag in post.tags %}
            {% assign len = post_tag | remove: tag | size %}
            {% if len == 0 %}
              <a href="/{{ post.permalink }}" class="item">
                <div class="header">{{ post.published_date | date: "%Y-%m-%d" }} | {{ post.title }}</div>
              </a>
              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</main>

{% include "footer.liquid" %}
