<footer class="y-footer">
  <div class="ui divider"></div>
  <div class="ui horizontal link list">
    <a href="/posts" class="item">blog</a>
    <a href="https://github.com/{{ site.data.author.github }}" class="item">github</a>
  </div>
  <div class="y-footer-logo">
    <a href="/">
      <img class="ui avatar circular image" src="/assets/img/icon.png" alt="home"/>
    </a>
  </div>
</footer>
