<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% if page.title != "" %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <link rel="shortcut icon" href="/assets/img/favicon.ico"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css"/>
  <link rel="stylesheet" href="/assets/css/main.css"/>
</head>
