// Variables

$y-white: #fff;
$y-blue: #33b5e5;
$y-aqua: #22c5c5;
$y-gray: #d7d7d7;
$y-gray-light: #f2f2f2;

// Layout

.y-flex {
  display: flex;

  &-center {
    justify-content: center;
  }
}

.y-logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.y-main {
  margin: 5rem 0;
}

.y-footer {
  margin-bottom: 2rem;
  text-align: center;
}

.y-footer-logo {
  margin-top: 0.75rem;
}

// Banner

.y-banner {
  padding: 10rem 1rem 3rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $y-white;
  text-align: center;
}

.y-banner-blog {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                    url('https://images.unsplash.com/photo-1551643577-371f44141d4a');
}

.y-banner-blue {
  background-image: radial-gradient(ellipse at 10% top, $y-aqua 0%, $y-blue 60%, transparent),
                    radial-gradient(ellipse at 90% bottom, $y-aqua 0%, $y-blue 40%);
}

// Block quotes

blockquote {
  margin-left: 0;
  padding-left: 1.5rem;
  border-left: 2px solid $y-gray;
}

// Code

pre {
  padding: 0.75rem;
}

code {
  background-color: $y-gray-light;
  border-radius: 0.25rem;
  padding: 0.2rem 0.4rem;
}
