<!DOCTYPE html>
<html>
  {% include "head.liquid" %}
  <body>
    <header class="y-banner y-banner-blue"
      {% if page.data.banner %}
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('{{ page.data.banner }}');"
      {% endif %}>
      <div class="y-logo">
        <a href="/">
          <img class="ui avatar circular image" src="/assets/img/icon_white.png" alt="home"/>
        </a>
      </div>
      <h1>{{ page.title }}</h1>
      <p>
        <i class="calendar outline icon"></i>
        {{ page.published_date | date: "%B %d, %Y" }}
      </p>
      {% if page.tags %}
        {% if page.data.banner %}
        <div class="ui teal labels">
        {% else %}
        <div class="ui grey labels">
        {% endif %}
          <i class="tags icon"></i>
          {% for tag in page.tags %}
            <a href="/tags#{{ tag }}" class="ui label">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </header>

    <main class="y-main">
      <div class="ui text container">
        <article class="blog-post">
          {{ page.content }}
        </article>
      </div>
    </main>

    {% include "footer.liquid" %}
    {% include "scripts.liquid" %}
  </body>
</html>
